<html>
<head>
<% include head.ejs %>
</head>
<body>
  <h1>Welcome to Frando</h1>

    <div class = "choice-buttons">
      <h2>I am a...</h2>
      <button id="choice-button" class="btn btn-default user-button"><a href="/" class="button-link" >Rando</a></button>
      <button id="choice-button" class= "btn btn-defualt host-button"><a href="#" class = "button-link"  >Host</a></button>
    </div>


    <form action="api/users" method="POST" id="user-signup"role="form">
      <legend>Let's Get to know you!</legend>
    
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" class="form-control" name = "firstName" id="first-name" placeholder="First Name?">
          <label for="">Last Name</label>
        <input type="text" class="form-control" name = "lastName" id="last-name" placeholder="Last Name?">

        <label for="">Nick Name?</label>
        <input type="text" class="form-control" name = "nickName" id="nick-name" placeholder="Nick Name?">
        <label for="">Password?</label>
        <input type="password" class="form-control" name="password" id="password1" placeholder="Password?">
        <label for="">Confirm Password</label>
        <input type="password" class="form-control" id="password2" placeholder="Password again?">

        <label for="">Email</label>
        <input type="text" class="form-control" name="email"  placeholder="email">
        
         <label for="">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Where in SF are you?">

      </div>
      <button type="submit" id="choice-button"class="btn btn-primary">Submit</button>
    </form>

      <form action="api/hosts" method="POST" id="host-signup"role="form">
      <legend>Let's Get to know you!</legend>
    
      <div class="form-group">
        <label for="">Business Name</label>
        <input type="text" class="form-control" name = "businessName" id="businesName" placeholder="Business Name?">
          <label for="">Description</label>
        <textarea class="form-control" name = "description" id="description" placeholder="Describe your Business"></textarea>

        <label for="">Password?</label>
        <input type="password" class="form-control" name="password" id="hostPassword" placeholder="Password?">
        <label for="">Confirm Password</label>
        <input type="password" class="form-control" id="hostPassword2" placeholder="Password again?">

        <label for="">Email</label>
        <input type="text" class="form-control" name="hostEmail" placeholder="email">
        
        <label for="">Phone?</label>
        <input type="text" class="form-control" name = "phone" id="phone" placeholder="(XXX)XXX-XXXX">

         <label for="">Location</label>
        <input type="text" class="form-control" name="hostLocation" placeholder="Where in SF are you?">

      </div>
      <button type="submit" id="choice-button" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>