<!DOCTYPE html>
<html>
<head>
<% include head.ejs %>
</head>
<body>
<body>
    <h1 class="welcome-header">Frando.</h1>
    <!-- This is the bs3-form boilerplate: -->
      <div class = "button-container">
    <a href="/signup"><button class="btn btn-default welcome-button">Sign Up</button></a>
        <button class= "btn btn-default welcome-button" data-toggle="modal" data-target="#login-modal">Log in</button>

      </div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <div id="login-fail"></div>
          <form id="login-form" method="POST" action="/login">
          <input type="text" name="email" placeholder="email" id="login-email">
          <input type="password" name="pass" placeholder="Password" id="login-password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          
          <div class="login-help">
          <a href="/signup">Register</a>
          </div>
        </div>
      </div>
      </div>

</body>
</html>


