@import url(http://fonts.googleapis.com/css?family=Roboto);

#page-wrapper {
  background-color: lightblue;
}
body{
  background-color: olivedrab;
}
form {
  padding: 1em;
}
h1{
  color: white;
  padding: 0.4em;
}

input {
  max-width: 500px;
}
textarea{
  max-width: 500px;
  min-height: 250px;
}
body label{
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: left;
}

li {
    list-style-type: none;
}

.choice-buttons{
  text-align: center;
  color: white;
}
#choice-button{
  text-align: center;
  background: #A63611;
  border: none;
  border-radius: 30px;
  margin: 10px auto;
  color: white;
  width: 140px;
  height: 50px;
  font-size: 20px;
}
#choice-button a {
  color: white;
}
#choice-button:hover{
  background: #48587A;
}

#event-button{
  text-align: center;
  background: #48587A;
  border: none;
  border-radius: 30px;
  margin: 10px auto;
  color: white;
  width: 140px;
  height: 50px;
  font-size: 20px;
}

#event-button:hover{
  background: white;
  color: #A63611;
}
.welcome-header{
  font-size: 128px;
  margin-top: 120px;
  color: white;
  text-align: center;
}
.button-container{
  text-align: center;
  display: block;
  position: relative;
  margin-top: 150px;

}
.welcome-button{
  text-align: center;
  background: #A63611;
  border: none;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  color: white;
  width: 140px;
  height: 50px;
  font-size: 20px;
}
.welcome-button:hover{
  background: #48587A;
  color: white;
}
#host-signup{
  color: #48587A;
}
#host-signup legend{
  color: white;
}
#user-signup{
  color: #48587A;
}
#user-signup legend{
  color: white;
}
#event-create-form{
  color: #48587A;
}
#event-create-form legend{
  color: white;
}
.button-link{
  color: black;
  font-size: 30px;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.sidebar{
 /* background-color: red; */
}
.list-group{
  margin-top:10px;
}

#index-header{
  padding:1em;
}

#index-title{
  font-size:62px;
}


#login-fail{
  color:red;
}

.event-list-item{
  margin: 2em;
  padding: 1em;
  background-color: #A63611;
  border-radius: 2em;
}

/******

Override Bootstrap

******/
.loginmodal-container input[type=text], input[type=password] {
    height: 34px;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0 12px;
}

